<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mvcprojectfinal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/master.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/mvcprojectfinal.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="esh-app-header">
        <div class="container">
            <article class="row">
                <section class="col-lg-7 col-md-6 col-xs-12">
                    <a href="/">
                        <img src="/images/brand.png" alt="eShop On Web">
                    </a>
                </section>
                <section class="col-lg-4 col-md-5 col-xs-12">
                    <div class="esh-identity">
                        <section class="esh-identity-section">
                            <div class="esh-identity-item">

                                <a class="esh-identity-name esh-identity-name--upper" href="/Identity/Account/Login">
                                    Login
                                </a>
                            </div>
                        </section>
                    </div>
                </section>
                <section class="col-lg-1 col-xs-12">


                    <a class="esh-basketstatus" href="/Basket">
                        <div class="esh-basketstatus-image">
                            <img src="/images/cart.png">
                        </div>
                        <div class="esh-basketstatus-badge">
                            0
                        </div>
                    </a>

                </section>

            </article>
        </div>
    </header>
    <div class="container">
        <section class="esh-catalog-hero">
            <div class="container">
                <img class="esh-catalog-title" src="/images/main_banner_text.png">
            </div>
        </section>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - mvcprojectfinal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Cart.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
